ul.page-list{
    list-style: square;
//    list-style: none;
}

.page-list{
    //margin-left: 0;
    font-size: x-large;
}

.post-list {
    list-style: none;
}

.post-list a:hover{
    text-decoration: none;
}
.post-list a:hover span.title{
    text-decoration: underline;
}



.post-list span.date{
    color: #666;
}

.post-list a:hover span.date{
    text-decoration: none;
}


